/* .App {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Roboto+Mono&display=swap");

/*------------------
React
-------------------*/

#root, .App {
  border: 0;
  padding: 0;
}

body {
  min-width: 300px;
  font-variant: small-caps;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", monospace, "Open Sans Condensed", sans-serif;
  background: #1a353c;
  color: goldenrod;
  font-size: 1.5vw;
  border: 1vw double goldenrod;
  border-radius: 25% / 33%;
  border-bottom: thin;
  border-top: thin;
 
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
 
}

/*TEXT-RELATED
-------------------------------------------/

/*Validator + Message -errors*/
h4,
i {
  font-size: small;
  color: #fcadad;
}
/*Info/Messages - Positive*/
h2 {
  color: #3bf02f;
  font-size: inherit;
}

/*Hello/Initials*/
h3  {
  padding: 0.5rem;
  border: 0.5rem double goldenrod;
  border-radius: 5em / 66.9%;
  border-top: thin;
}


/* Surveys - Description lists*/
dl {
  width: 80%;
  padding: 0.3rem 0;
 }
dd {
  font-size: 0.9em;
}



/*General paragraphs*/
p {
  padding: 0em 1rem 1rem;
  margin-left: 0.2rem;
}

/*Username/Password, bottom login/reg-redirs*/
label, span, span a {
  color: orange;
  font-variant: all-petite-caps;
  font-size: 0.9em;

  }

/*-------------------------------------------/
/*Nav + Dropdown related*/
/* nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
}

ul {
  list-style-type: none;
  overflow: hidden;
  background-color: transparent;
}

li {
  float: left;

}

li a,
.dropbtn {
  display: inline-block;
  color: goldenrod;
  text-align: center;
  padding: 0.4rem 1rem 0.4rem;
  text-decoration: none;
}

li a:hover,
.dropdown:hover .dropbtn {
  background-color: #1a353c;
    border: 0.2rem double goldenrod;
  border-radius: 3em / 66%;
  border-top: thin;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #1a353c;  
  z-index: 1;  
  right: -12%;
}

.dropdown-content a {
  color: goldenrod;  
  text-decoration: none;
  display: block;
  
}

.dropdown:hover .dropdown-content {
  display: block;
} */

/*-----------------------------
Login/Register - FORMS + DIVS
------------------------------|
Cleanup DIV CSS later
*/

form, div
 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.1rem 1rem 0.5rem;
  border: 0.5rem double goldenrod;
  border-radius: 2.5em / 33%;
  border-bottom: thin;
  border-top: thin;
  
}
/*Added class info to only-message-*ngIf-DIVS*/
.info {
  border: 0;
  padding: 0;
}

.NO-B {
  border: 0;
  padding: 0;
}

/*-----------------------------------------------------------|
INPUTS -- BTN -- CHKBOX + RELATED
*/

/* Username, Password*/
input {
  
  font: inherit;
  font-size: 1em;
  color: #f6e088ca;
  background: transparent;
  text-align: center;
  border: 0.2rem double goldenrod;
  border-radius: 3em / 66.9%;
  border-top: thin;
}

::placeholder {
  color: goldenrod;
  font-variant: small-caps;
}

/*Checkbox----REG-BTN-TOGGLE*/
input[type="checkbox" i] {
  width: 1rem;
  height: 1rem;
  background: transparent;
  vertical-align: middle;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  border: 0.2rem double goldenrod;
    border-radius: 2em / 33%;
    border-bottom: thin;
    border-top: thin;
}
/*Checkbox*/
input:checked {
  background-color: goldenrod;
}

/*Button---REG BTN*/
button,
#register {
  font-variant: small-caps;
  font-size: 1em;
  background: transparent;
  color: orange;
  border-radius: 2.5em / 33%;
  border: 0.5rem double goldenrod;
  border-bottom: thin;
  border-top: thin;
  padding: 0.5rem;
  outline: none;
  cursor: pointer;
}

/*Disabled - e.g. btns during processing*/
:disabled {
  color: darkgrey;
}




